{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="row pt-3 mr-0" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg pb-3">
              <h1 class="display-4">Question Name: {{ question.question_text }}</h1>
              <p class="lead">Question Parent Quiz: {{ question.quiz }}</p>
            </div>
          </div>
        <div class="row">
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>
</div>
<div class="row">

</div>

{% endblock content %}


