{% extends "base.html" %}
{% load static %}



{% block content %}
<p>hello</p>
<div class="row pt-3 mr-0">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h1 class="display-4">Quiz Name: {{ quiz.name }}</h1>
              <p class="lead">Quiz Slug: {{ quiz.slug }}</p>
            </div>

            {% for question in question_list %}
            <div style="padding-right:40px">
              <p class="lead">Question ID: {{ question.id }}</p> 
              <p class="lead">Quiz Name: {{ question.quiz }}</p>
              <p class="lead">Question: {{ question.question_text }}</p>
              {% for choice in choice_list %}
                <p class="lead">Choice: {{ choice.choice_text }}</p>
              {% endfor %}


            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}


