{% extends "base.html" %}
{% load static %}

<!-- Form for quiz template to take inspo from https://jthemes.net/themes/html/wizard-form/v1/-->
{% block content %}
<div class="col-lg">
  <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <h1 class="display-4">QuizApp</h1>
          <p class="lead">Select what type of computer you're looking for.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <!-- Column -->
      <div class="col-md-6 mt-3 left" style="padding-top: 7px;">
        {% for quiz in quiz_list %}
        <ul>
          <h3>{{quiz.name}}</h3>
          <a href="{{quiz.get_absolute_url }}">Start Quiz</a>
        </ul>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

