{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="row pt-3 mr-0" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg pb-3">
              <h1 class="display-4">Quiz Name: {{ quiz.name }}</h1>
              <p class="lead">Quiz Slug: {{ quiz.slug }}</p>
            </div>
          </div>
        <div class="row">
            <div class="col-lg">
                {% for question in question_list %}
                <div style="padding-bottom: 50px">
                    <p class="lead"><b>Question ID:</b> {{ question.id }}</p>
                  <p class="lead"><b>Quiz Name:</b> {{ question.quiz }}</p>
                    <p class="lead"><b>Question:</b> {{ question.question_text }}</p>
                {% for choice in choice_list %}
                    {% if question.id == choice.question_id %}
                        <ul>
                            <li class="lead"><b>Choice Option:</b> {{ choice.choice_text }}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Submit</button>
                </form>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
<div class="row">

</div>

{% endblock content %}


