{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row pt-3">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h1 class="display-4">Change Password</h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="row">
      <div class="mx-auto">
          <h1></h1>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
      </form>
  </div>
</div>

{% endblock %}

