{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- HORIZONTAL BAR BUG: in "row" margin-right is set to -15px SOLUTION: set to 0. -->
<div class="row" style="padding: 7%; margin-right: 0px;">
    <div class="mx-auto">
        <h1>{{ product.name }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="mx-auto">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded p-4" alt="{{ product.name }}">
            {% endif %}
        </div>
      </div>
      <div class="col">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Name: </th>
                <td>{{ product.name }}</td>
              </tr>
              <tr>
                <th scope="row">Brand</th>
                <td>{{ product.brand }}</td>
              </tr>
              <tr>
                <th scope="row">Model</th>
                <td>{{ product.modelnumber }}</td>
              </tr>
              <tr>
                <th scope="row">Size</th>
                <td>{{ product.size }}</td>
              </tr>
              <tr>
                <th scope="row">Price</th>
                <td>£{{ product.price }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"></th>
                <th><a type="button" href="{{ product.url }}" target="_blank" class="btn btn-yellow">Buy from Amazon</a></th>
              </tr>
            </thead>
            </tbody>
          </table>
          
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- reviews -->
        <h2>{{ reviews.count }} Reviews</h2>
    
        {% for review in reviews %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ review.title }} | {% include 'products/rating.html' %} 
            <span class=" text-muted font-weight-normal">
              {{ review.created_on }} 
            </span>
          </p>
          {{ review.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_review %}
        <div class="alert alert-success" role="alert">
          Your review is awaiting approval
        </div>
        {% elif user.is_authenticated%}
        <h3>Leave a review</h3>
        <form method="post" style="margin-top: 1.3em;">
          {% csrf_token %}
          {{ review_form|crispy }}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% else %}
        <h2 class="pb-2">You need to be logged in to leave a review!</h2>
        <a type="button" href="{% url 'login' %}" class="btn btn-default">Login</a></th>
        {% endif %}
      </div>
    </div>


{% endblock %}




