{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row pt-3">
  <div class="col-lg">
    <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <h1 class="display-4">Product Listing</h1>
            <p class="lead">Here is a listing of all products found on the web app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" class="align-middle">#</th>
      <th scope="col" class="align-middle">Image</th>
      <th scope="col" class="align-middle">Name</th>
      <th scope="col" class="align-middle">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr>
      <th scope="row" class="align-middle">{{ product.id }}</th>
      {% if product.image %}
      <td><img src="{{ product.image.url }}" class="img-thumbnail" width="125px"></td>
      {% else %}
      <td></td>
      {% endif %}
      <td class="align-middle"><a href="/products/{{ product.id }}" class="card-link">{{ product.name }}</a></td>
      <td class="align-middle">£{{ product.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}



