{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row p-3">
  <div class="mx-auto">
    <h1>Products List</h1>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <th scope="row">{{ object.id }}</th>
      {% if object.image %}
      <td><img src="{{ object.image.url }}" class="img-thumbnail" width="125px"></td>
      {% else %}
      <td></td>
      {% endif %}
      <td><a href="/products/{{ object.id }}" class="card-link">{{ object.name }}</a></td>
      <td>£{{ object.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}



