{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
  <div class="row pt-3 mr-0">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h1 class="display-4">Featured Products</h1>
              <p class="lead">This is where you'll find our highlighted efforts to finding the best valued products in the week.</p>
            </div>
            <!-- <div class="col-lg">
              <img src="{% static 'img/bookfeature.png' %}" alt="Surface Feature" style="width: 400px;">
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg text-center pt-3">
      <div class="card cardfeatured" style="width: 100%;">
        <div class="card-img-overlay overlayfeatured">
          <h5 class="card-title">Featured #1</h5>
          <p class="card-text">The everyday, everywhere laptop</p>
        </div>
        <img src="{% static '/img/placeholder_wide.jpg' %}" class="imgfeatured card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row pt-3 mr-5 ml-5">
  {% for object in featured_list %}
    <div class="col-md-6 text-center pt-3 pb-3">
      <div class="card cardfeatured">
        <a class="card-block stretched-link text-decoration-none" href="/products/{{ object.id }}"></a>
        <div class="card-img-overlay overlayfeatured">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="card-text">£{{ object.price }}</p>
        </div>
        {% if object.image %}
        <img src="{{ object.image.url }}" class="imgfeatured card-img-top" alt="{{ object.title }}">
        {% else %}
        <img src="{% static '/img/placeholder.jpg' %}" class="imgfeatured card-img-top" alt="placeholder image">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ object.content }}</p>
          <!-- <a href="#" class="btn btn-secondary btnfeatured">Preview</a> -->
        </div>
      </div>
    </div>
  {% endfor %}
  {% for object in products_qs %}
    <div class="col-md-6 text-center pt-3 pb-3">
      <div class="card cardfeatured">
        <a class="card-block stretched-link text-decoration-none" href="/products/{{ object.id }}"></a>
        <div class="card-img-overlay overlayfeatured">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">£{{ object.price }}</p>
        </div>
        {% if object.image %}
        <img src="{{ object.image.url }}" class="imgfeatured card-img-top" alt="{{ object.title }}">
        {% else %}
        <img src="{% static '/img/placeholder.jpg' %}" class="imgfeatured card-img-top" alt="placeholder image">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ object.description_overview }}</p>
          <!-- <a href="#" class="btn btn-secondary btnfeatured">Preview</a> -->
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock content %}

<!-- Look at the mvp app, this has details referring to making the entire card 
selectable and creating a margin for the main title of each card. Would be
also good to include 3 cards in each row for wider screen. -->