{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="row pt-3 mr-0">
    <div class="col-lg">
      <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h1 class="display-4">{{ quiz.title }}</h1>
              <p class="lead">{{ quiz.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Manually rendering forms so that later it will be easy to hide and show elements of each section in the form (wrap in div class and hide show each form response on button select)-->
<form method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.response_1.errors }}
    {{ form.response_1.label }}
    {{ form.response_1 }}
</div>
<div class="fieldWrapper">
    {{ form.response_2.errors }}
    {{ form.response_2.label }}
    {{ form.response_2 }}
</div>
<div class="fieldWrapper">
    {{ form.response_3.errors }}
    {{ form.response_3.label }}
    {{ form.response_3 }}
</div>
<div class="fieldWrapper">
    {{ form.response_4.errors }}
    {{ form.response_4.label }}
    {{ form.response_4 }}
</div>
    <div class="pl-4">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
 </form>


{% endblock content %}
<!-- this is broken
{% url 'quiz:results_view' %} -->

 <!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
 </form> --

