{% extends "base.html" %}
{% load static %}



{% block content %}

<h2 class="card-title">{{ quiz.title }}</h2>
<h3 class="card-title">{{ quiz.description }}</h3>
<!-- Manually rendering forms so that later it will be easy to hide and show elements of each section in the form (wrap in div class and hide show each form response on button select)-->
<form method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    
    {{ form.response_1.errors }}
    {{ form.response_1.label }}
    {{ form.response_1 }}
</div>
<div class="fieldWrapper">
    {{ form.response_2.errors }}
    {{ form.response_2.label }}
    {{ form.response_2 }}
</div>
<div class="fieldWrapper">
    {{ form.response_3.errors }}
    {{ form.response_3.label }}
    {{ form.response_3 }}
</div>
    <input type="submit" class="btn btn-primary" value="Submit">
 </form>

 <!-- <div class="col-sm-auto fadeInUp delay d-flex justify-content-center">
    <a href="/quiz/laptops/results" class="btn btn-lg btnquiz">results</a>
 </div> -->


{% endblock content %}
<!-- this is broken
{% url 'quiz:results_view' %} -->

 <!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
 </form> --

