{% extends "base.html" %}
{% load static %}

<!-- Form for quiz template to take inspo from https://jthemes.net/themes/html/wizard-form/v1/-->
{% block content %}

<!-- <div class="container-fluid">
  <section id="quiz">
    <div id="q1" class="text-center white">
      <div class="padding-y mt-6">
        <div class="text-block mx-auto">
          <h1 class="fadeIn mb-0 h1index"
            style="visibility: visible; opacity: 1; transition: opacity 0.7s ease-in-out 0s;">
            {{ object.question_text }}
          </h1>
          <p class="font-size-22 px-5 mt-3 pt-1 mb-4 pb-1 fadeInUp pindex">{{ object.description_text }}</p>
          <div class="row justify-content-center mx-auto">
            {% for object in question_list %}
            <div class="col-sm-auto fadeInUp delay d-flex justify-content-center">
              ><h3>{{ object.question_text }}</h3>
              <a href="/quiz/" class="btn btn-lg btnquiz">{{ object.description_text }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for object in choice_list %}
        <li><a href="/quiz/ {{ object.id }}/">{{ object.choice_text }}</a></li>
  {% endfor %}
</div> -->
<div class="row pt-3">
  <div class="col-lg">
    <div class="jumbotron jumbotron-fluid jumbotronfeatured" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <h1 class="display-4">Quizzes</h1>
            <p class="lead">Here is a listing of all quizes found on the web app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left" style="padding-top: 7px;">
          {% for quiz in quiz_list %}
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">{{ quiz.title }}</h2>
                  <a href="{{ quiz.slug }}/" class="btn btn-primary">Start</a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>



{% endblock content %}

