<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Samuel Smith">

  {% include 'base/js.html' %}
  {% include 'base/css.html' %}

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">

  <title>needapc</title>

</head>

<body>
  {% include 'navbar.html' %}
  
  
  {% block content %}

  <h1>Hello World. This is base html</h1>

  <ul>
    <li>
      <a href="/">Back to Home</a>
    </li>
  </ul>
  {% endblock content %}

  <!-- START FOOTER -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <i class="footer-logo"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-laptop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
          <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/>
          </svg></i>
        <small class="d-block mb-3 text-muted">&copy; 2020 needapc</small>
      </div>
      <div class="col-6 col-md">
        <h5>Navigation</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:changeLook()">Modern Dark Mode</a></li>
          <li><a class="text-muted" href="javascript:changeBack()">Light Mode (Standard)</a></li>
          <li><a class="text-muted" href="javascript:changeLook2()">Retro Mode</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Legal</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="application/assets/download/Models.zip">Download models</a></li>
          <li><a class="text-muted" target="_blank" href="https://github.com/sgs22/Virtualmuseum">View source on
              GitHub</a></li>
          <li><a class="text-muted" href="application/assets/download/VRML.zip">Download VRML</a></li>
          <li><a class="text-muted" target="_blank" href="#">Bibliography</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 style=color:#212529>Social</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://github.com/">GitHub</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.sussex.ac.uk/">Sussex University</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.linkedin.com/">Linkedin</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="#">Information</a></li>
          <li><a class="text-muted" target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.x3dom.org/">X3dom</a></li>
          <li><a class="text-muted" target="_blank" href="#">Privacy</a></li>
          <li><a class="text-muted" target="_blank" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

  <!-- Scripts -->
  

</body>

</html>