<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Samuel Smith">

  {% include 'base/js.html' %}
  {% include 'base/css.html' %}

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font/font.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

  <title>needapc</title>

</head>

<body>
  {% include 'navbar.html' %}
  
  
  {% block content %}

  <h1>Hello World. This is base html</h1>

  <ul>
    <li>
      <a href="/">Back to Home</a>
    </li>
  </ul>
  {% endblock content %}

</body>
{% include 'footer.html' %}
</html>