{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
  <section id="intro" class="text-center white">
    <div class="padding-y mt-6">
      <div class="text-block mx-auto">
        <h1 class="fadeIn mb-0 h1index" style="visibility: visible; opacity: 1; transition: opacity 0.7s ease-in-out 0s;">
          Cherry Picked. <br> <span class="blue" style="color: rgb(8, 106, 253);">Just for you.</span>
        </h1>
        <p class="font-size-22 px-5 mt-3 pt-1 mb-4 pb-1 fadeInUp pindex">Answer a few short questions and we'll find  <br> a perfectly matched computer.</b></p>
        <div class="row justify-content-center mx-auto">
          <div class="col-sm-auto fadeInUp delay d-flex justify-content-center">
            <a href="/quiz/" class="btn btn-lg btnquiz">Get Started.</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for post in index_list %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% if post.image %}
          <img src="{{ post.image.url }}" class="d-block w-100" alt="{{ post.header }}">
          {% else %}
          <img src="" class="d-block w-100" alt="{{ post.header }}">
          {% endif %}
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ post.header }}</h5>
            <p>{{ post.description }}</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}

