<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarmain">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pl-5 pr-5" id="navbarToggler">
      <a class="navbar-brand" href="/">needapc</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-2">
        <li class="nav-item pl-1 pr-1">
          <a class="nav-link" href="/quiz/">Quiz</a>
        </li>
        <li class="nav-item pl-1 pr-1">
          <a class="nav-link" href="/featured/">Featured</a>
        </li>
        <li class="nav-item pl-1 pr-1">
          <a class="nav-link" href="/products/">Products</a>
        </li>
        <li class="nav-item dropdown pl-1 pr-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Company
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">About Us</a>
              <a class="dropdown-item" href="/admin/">Admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Legal</a>
            </div>
        </li>
        <li class="nav-item pl-1 pr-1">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
      </ul>
      <div>
        <a class="btn btnlogin" href="/accounts/login/" role="button">Log in</a>
        <a class="btn btnsignup" href="/accounts/signup/" role="button">Sign Up</a>
      </div>
    </div>
  </nav>

  