{% extends "base.html" %}
{% load static %} 

{% block content %}


<!-- 
<h1>{{ quest.title }}</h1>
<h3>{{ quest.description }}</h3>
<p>Date : {{ quest.created }}</p>
 -->

<!-- {% for question in quest.questions.all %}
   <h4>Q{{ forloop.counter }}. : {{ question.question_text }}</h4>
   <p>{{ question.description }}</p>

      {% for choice in question.choices.all %}
      <h4>{{ forloop.counter }} : {{ choice.choice_text }}</h4>
      {% endfor %}
      
{% endfor %} -->

{% endblock content %}

